# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc
*.pyo

# VS Code Settings
.vscode/

# Environment Variables
.env

# Logs
*.log

# Temporary Files
temp/
tmp/

# Jupyter
.ipynb_checkpoints/